h1{
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

b{
    color: blue;
}

i{
    background-color: cyan;
}